{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"       
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static "style.css"%}">

    <title>www.myecommerce.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<!-- navbar section -->

<body id="bg" style="background-image:url('{% static "img/bg5.jpg"%}');">

        <nav class="navbar navbar-expand-lg navbar-dark navbg sticky-top" id="navbody">      
         
            <img class="mr-4" src="{% static "img/logo.png"%}" alt="logo image"> 
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link navtext" href="\home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navtext" href="">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navtext" href="">About us</a>
                    </li>

              
                     <li class="nav-item dropdown">
                        <a class="nav-link navtext dropdown-toggle" onclick="myCart(cart)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     My Cart </a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a id="welcome" class="dropdown-item">Action</a>                      
                    </li> 

                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="item_name" placeholder="Search" aria-label="Search">

                  <input href="#section1" type="submit" name="" class="btn btn-outline-danger my-2 my-sm-0" value="Search" >

                </form>
                </div>
        </nav>
        </div>


<!-- carousel section -->

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static "img/c2.jpg"%}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static "img/c5.jpg"%}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static "img/c4.jpg"%}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        <br>
        <hr>
        <br>

<section id="section1">
<!-- card section -->
<div class="container" align="center">
    <div class="row">
        
                {% for i in product_list %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
                            <div id=nm{{i.id}} class="card-title">
                                <b>{{i.name}}</b>
                            </div>
                            <div class="card-body">
                                <p>{{i.description}}</p>
                            </div>
                            
                            <div class="card-title text-success" id="dprice">
                                <b>INR.{{i.discounted_price}}</b>
                            </div>

                            <div class="card-title" id="oprice">
                                <strike class="text-danger"><b>INR.{{i.original_price}}</b></strike>
                            </div>

                            <button class="btn btn-danger">  <a href="\disp" class="badge badge-danger"> Buy Now</a></button> &nbsp;&nbsp;
                            <button id={{i.id}} class="btn atc btn-info"><a class="badge badge-info">  Add To Cart </a></button>
                        </div>
                    </div>
                    <br>
                    
                </div>
                {% endfor %}
                
            </div>               
        </section>
<br><br>


<footer class="card-footer text-white bg-dark p-md-1" align="center">
    <h5 id="center">Copyright &copy; www.myecommerce.com. All rights reserved!</h6>
</footer>

</body>



<script type="text/javascript">

    
if(localStorage.getItem('cart')==null)
{
    var cart={}
}
else{
    cart=JSON.parse(localStorage.getItem('cart'))
}

$(document).on('click','.atc',function()
{
    var id=this.id.toString() 
    console.log(id)


if(cart[id]!=undefined)
{
    cart[id]=cart[id]+1
}
else{
    cart[id]=1
}
console.log(cart)


localStorage.setItem('cart',JSON.stringify(cart))
});





myCart(cart)


function myCart(cart)

{
   
    var cartString=""
    cartString=cartString+"<p class='font-weight-bold' align='center'> <u> This is My Cart </u></p>"

    for(var i in cart)   
    {
        cartString=cartString+document.getElementById('nm'+i).innerHTML + "Qty:" + cart[i] + "<br>"    
                            
    }
    cartString=cartString+"<a href='/disp' class='btn btn-warning' align='center'>Checkout</a> &ensp; <a onclick='clearCart()' class='btn btn-danger' align='center'>Clear</a>"
 document.getElementById("welcome").innerHTML=cartString
 


}


function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    localStorage.clear();
    cart = {};
    myCart(cart);
}



</script>

</html>