<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  
    <div class="jumbotron bg-white">

    <div class="alert alert-success" role="alert" align="center">
        <h4 class="alert-heading">Payment Successful</h4>
        <p> <b> Thank you for shopping with us. Your product will be delivered within 3 business days.<br>
            Happy Shopping!!! Please shop again!!.. </b></p>
        <hr>
        <button id="hello"  class="btn atc btn-success"><a href="\home" class="badge badge-success"> Back To Home </a></button>
    </div>
    </div>

</body>
</html>